.position-card {
  max-width: 300px;
}

.position-card-avatar {
  background-image: url('../../flat-mac-icon-15.png');
  background-size: cover;
}

.add-position-button {
  position: fixed;
  top:80%;
  left:90%;
}