<md-grid-list cols="4" rowHeight="300px">
  <md-grid-tile *ngFor="let project of projects">
    <md-card>
      <md-card-header>
        <div md-card-avatar class="project-card-avatar"></div>
        <md-card-title>{{project.title}}</md-card-title>
      </md-card-header>
      <md-card-content>
        <p>{{project.description}}</p>
        <p>Start date: {{project.startDate | date: 'dd/MM/yyyy'}}</p>
        <p>End date: {{project.endDate | date: 'dd/MM/yyyy'}}</p>
      </md-card-content>
      <md-card-actions>
        <!--<button md-button>EDIT</button>
        <button md-button>DELETE</button>-->
       </md-card-actions>
    </md-card>
	</md-grid-tile>
</md-grid-list>
